{% extends "base.html" %} 
{% block content %}
<div class="row">
    <h3 class="dark-pink-text">WonderRecipe</h3>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-burn prefix"></i>
        <input id="recipe_name" type="text" class="validate" />
        <label for="recipe_name">Dish Name</label>
      </div>
      <div class="input-field col s12">
        <i class="fas fa-flag prefix"></i>
        <input id="country" type="text" class="validate" />
        <label for="country">Country</label>
      </div>
    </div>
  </form>
</div>
{% endblock %}
