{% extends "base.html" %}
{% block content %}
<br>
    <ul class="collapsible popout">
    {% for recipes in recipes %}
        <li>
            <div class="collapsible-header pink darken-4 white-text"><i class="fas fa-concierge-bell prefix"></i>{{ recipes.recipe_name }}
            </div>
            <div class="collapsible-body"><strong>Meal: {{ recipes.meal }}</strong>
            <p>Country: {{ recipes.country }}</p>
            <p>Preparation: {{ recipes.preparation }}</p>
            {{ recipes.ingredients }}
            {% if recipes.vegetarian == "yes" %}
            <h5><i class="fas fa-leaf pink-text text-darken-4 tooltipped"
            data-position="top" data-tooltip="I'm Vegetarian"></i></h5>
            {% endif %}
            </div>
        </li>
    </ul>
{% endfor %}
{% endblock %}